<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/history">History</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/us">Us</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>




  {{{body}}}
</body>

</html>