<div class="row" style="margin:10px auto">
        <div class="col">
            <p class="text-end">
                <span>Hola {{userName}}!</span>
                <a href="/admin/login/logout" class="btn btn-danger">LogOut<i class="fasfa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>


<div class="container v-100 d-flex justify-content-center align-items-center" style="margin:100px auto">
    <h3 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quae saepe non, voluptatibus minus dignissimos eaque quasi reiciendis voluptate veniam suscipit. Dolorum, voluptatibus. Doloribus vero dolore sapiente error modi ducimus?</h3>
</div>